.dashboardContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
    padding-bottom: 10rem;
  }
  
  .gridRow {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Performance takes 2/3, Overview takes 1/3 */
    gap: 20px;
  }
  
  .row {
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .container {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .sectionTitle {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .statsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .statsCard {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .statsCard h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .statsCard p, .statsCard ul {
    font-size: 1rem;
    color: #555;
  }
  
  .statsCard ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .label {
    padding: 20px;
    background-color: #ddd;
    border-radius: 6px;
    font-size: 1rem;
    color: #555;
    text-align: center;
  }
  
  .contentWrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .pieChartsContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
  }
  
  .pieCard {
    flex: 1;
    text-align: center;
    margin: -10px;
  }

  .pieChart {
    flex: 1;
    text-align: center;
    margin: -10px;
    margin-top: -45px;
  }
  
  .key {
    margin-top: -30px;
    margin-bottom: 30px;
  }
  
  .keyItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 0px;
    font-size: 12px;
  }
  
  .colorBox {
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }

  .unstyledLink {
    color: inherit;  /* Keep the same color as the surrounding text */
    text-decoration: underline;  /* Only show underline */
  }
  
  .unstyledLink:hover, .unstyledLink:focus, .unstyledLink:active {
    color: inherit;  /* Prevent color change on hover, focus, or active state */
    text-decoration: underline;  /* Keep underline on hover */
  }
  
  .pasteItem {
    display: flex;
    align-items: center;
    gap: 8px; /* Spacing between title and tag */
  }
  
  .encryptedTag {
    background-color: #2196f3; /* Blue background */
    color: white; /* White text */
    padding: 3px 8px; /* Padding inside the tag */
    border-radius: 12px; /* Rounded corners */
    font-size: 12px; /* Small font size */
  }
  