/* markdownStyles.css */

:root {
  --font-size: 1em;
  --line-height: 1.5;
  --color: #222222;
  --header1-size: 1.802em;
  --header2-size: 1.602em;
  --header3-size: 1.424em;
  --header4-size: 1.266em;
  --header5-size: 1.125em;
  --header6-size: 1em;
  --h1-line-height: 1.2;
  --h2-line-height: 1.2;
  --h3-line-height: 1.3;
  --h4-line-height: 1.4;
  --h1-weight: 700;
  --h2-weight: 600;
  --h3-weight: 600;
  --h4-weight: 600;
  --h5-weight: 600;
  --h6-weight: 600;
  --p-spacing: 1rem;
  --blockquote-border: 2px solid #a67371;
  --code-background: #f5f5f5;
  --link-color: #8f2221;
  --selection-background: #bbdfff;
  --heading-spacing: calc(var(--p-spacing) * 2.5);
}

/* Base styles */
.markdown-content {
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color);
  font-family: inherit;
}

/* Remove underline for headers 1, 2, and 3 */
.markdown-content h1,
.markdown-content h2 {
  border-bottom: none;
}

/* Headings */
.markdown-content h1,
.cm-header-1 {
  font-size: var(--header1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
  letter-spacing: -0.015em;
}

.markdown-content h2,
.cm-header-2 {
  font-size: var(--header2-size);
  font-weight: var(--h2-weight);
  line-height: var(--h2-line-height);
  letter-spacing: -0.015em;
}

.markdown-content h3,
.cm-header-3 {
  font-size: var(--header3-size);
  font-weight: var(--h3-weight);
  line-height: var(--h3-line-height);
  letter-spacing: -0.015em;
}

.markdown-content h4,
.cm-header-4 {
  font-size: var(--header4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}

.markdown-content h5,
.cm-header-5 {
  font-size: var(--header5-size);
  font-weight: var(--h5-weight);
}

.markdown-content h6,
.cm-header-5 {
  font-size: var(--header6-size);
  font-weight: var(--h6-weight);
  color: var(--color);
}

/* Bold Text */
.markdown-content strong,
.cm-strong {
  font-weight: 600;
}

.markdown-content hr {
  height: 2px;
  opacity: 0.5;
}

/* Links */
.markdown-content a,
.cm-link {
  color: var(--link-color);
  text-decoration: underline;
}

/* Hover state for links */
.markdown-content a:hover,
.cm-link:hover {
  color: #a35656;
}

/* Styling only the bullet points */
.markdown-content ul li::marker,
.markdown-content ol li::marker {
  color: #ababab; /* Set the bullet points to gray */
}

/* Ensure sub-bullets are filled in */
.markdown-content ul ul,
.markdown-content ol ol,
.markdown-content ol li > ul {
  list-style-type: disc; /* Use filled bullet points for sublists */
}

.markdown-content th {
  background-color: #f2f2f2;
}

/* Selection */
.cm-selectionBackground,
::selection {
  background-color: var(--selection-background);
}

/* Editor Customization */
.cm-editor {
  border: none;
  background: none;
  outline: none;
}

/* Remove gutter (line numbers area) */
.cm-gutters {
  display: none;
}

/* Remove focus outline */
.cm-editor.cm-focused {
  outline: none;
}
