/* page.module.css */
.pageContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  font-family: inherit;
}

.admindashContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.04);  /* Semi-transparent background */
  font-family: inherit;
}

/* General styling for headers */
.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  width: 100%;
  max-width: var(--max-text-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerRight {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.icon {
  width: auto;
  height: auto;
  max-height: 100%; /* Ensure it doesn’t exceed the header’s height */
  object-fit: contain; /* Makes sure the image fits within the header */
}

.greyIcon {
  fill: #8d8d8d;
  height: 26px;
  width: auto;
  display: flex;
}

.greenIcon {
  fill: #2c992a;
  height: 26px;
  width: auto;
  display: flex;
}

.editorContainer {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-user-select: text;
  user-select: text;
}

.contentWrapper {
  width: 100%;
  max-width: var(--max-text-width);
  margin: 0 auto;
  padding: 0 20px;
}

.publishButton {
  background-color: #222222;
  color: #fff;
  border-radius: 6px;
  border: 2px solid #545454;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.toggleButton {
  background-color: #eaeaea;
  color: #222222;
  border-radius: 6px;
  border: 2px solid #bababa;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleInput {
  font-size: 1.802em;
  font-weight: bold;
  margin: 10px 0;
  padding: 0;
  outline: none;
  width: 100%;
  min-height: 42px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.contentEditable{
  flex: 1;
  transform: translateY(-4px);
  min-height: calc(100vh - 150px);
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding-bottom: 20em;
}

.markdownView {
  flex: 1;
  min-height: calc(100vh - 150px);
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding-bottom: 20em;
}

/* Placeholder text style */
.placeholder {
  position: absolute;
  color: #ABABAB;
  pointer-events: none; 
  font-size: 1em; 
  line-height: 1.5;
  font-family: inherit;
}

/* modal styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 5px 20px 20px 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width:90%;
  z-index: 1001;
}

.keyContainer {
  background-color: #f5f5f5;
  padding: 10px;
  margin: 20px 0px 15px 0px;
  font-family: monospace;
  word-break: break-all;
  display: flex;  /* Use flexbox to align children */
  align-items: center;  /* Vertically center content */
  justify-content: space-between;  /* Ensure space between key and button */
}

.modalInput {
  background-color: #f5f5f5;
  padding: 14px;
  margin: 5px 0px 15px 0px;
  font-family: monospace;
  word-break: break-all;
  width: 100%;
  box-sizing: border-box; /* Ensures padding is included in the width */
  border: none; /* Removes border */
  outline: none; /* Removes the blue border when clicked */
}

.modalInput:focus {
  outline: none; 
}

.modalActions {
  display: flex;
  justify-content: space-between; /* Main page layout */
  gap: 5px;
  align-items: center;
}

.leftActions {
  flex-grow: 1; /* Push the right actions to the right */
}

.rightActions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.modalActionsRight {
  display: flex;
  justify-content: flex-end; /* Right align both buttons on the password page */
  gap: 5px;
}

.modalTitle {
  margin-bottom: -5px;
}

/* OAuth-style sign-in button */
.oauthButton {
  background-color: #161b22;
  color: white;
  border: 1.5px solid #cecece;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  display: flex; /* Use flexbox to align the content */
  align-items: center;
  justify-content: center; /* Center content */
  width: fit-content; /* Adjust width based on content */
  margin: 0 auto; /* Center button horizontally */
  gap: 16px; /* Add space between the icon and text */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* GitHub logo styling inside the button */
.githubIcon {
  font-size: 24px; /* Adjust size for the logo */
}

/* Hover effects for OAuth button */
.oauthButton:hover {
  background-color: #232b35; /* Slight dimming effect */
  border-color: #b1b1b1; /* Darken border on hover */
}

/* Focus effect */
.oauthButton:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1); /* Add focus ring */
  outline: none;
}

.signInContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInContent {
  background-color: white;
  padding: 5px 20px 20px 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  width:90%;
  z-index: 1001;
}